@use '../../../variables.scss' as variables;
$breakpoints: variables.$breakpoints;
@import 'include-media';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  min-height: 80vh;
  animation: fadeIn 0.2s linear;
  flex-wrap: wrap;

  @include media('<tablet') {
    gap: 20px;
    min-height: auto;
    margin-top: 20px;
  }
}

.logo {
  height: auto;
  max-width: 300px;

  @include media('<tablet') {
    max-width: 200px;
  }

  @include media('<phone') {
    max-width: 180px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  gap: 20px;
  padding: 35px;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);

  img {
    @include media('<phone') {
      max-width: 90%;
    }
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 330px;

    p {
      font-family: "Host Grotesk", serif;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 15px;
      text-align: center;
      color: black;
    }

    p-progressSpinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    p-button {
      margin-top: 10px;
    }

    @include media('<phone') {
      width: 100%;
    }
  }

  @include media('<phone') {
    border-radius: 0;
    width: 90%;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  label {
    font-size: 1rem;
    font-family: "Host Grotesk", serif;
    color: rgb(68, 68, 68);
    font-weight: 500;
  }

  input {
    margin: auto;
    width: 100%;
    font-family: "Host Grotesk", serif;
  }
}

.action {
  font-size: 0.9rem;
  font-family: "Host Grotesk", serif;
  color: black;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.error {
  font-size: 0.9rem;
  font-family: "Outfit", sans-serif;
  color: rgb(217, 105, 105);
}