<div class="login-container">
  <img class="logo" src="assets/portal-logo.webp" alt="logo">
  <div class="form-container">
    <form [formGroup]="loginForm">
      <div class="input-container" [class.disabled]="sharedService.loading()">
        <label for="email">Your Email:</label>
        <input type="text" pInputText variant="filled" placeholder="Email" aria-label="your email" formControlName="email"/>
      </div>
      <div class="input-container" [class.disabled]="sharedService.loading()">
        <label for="password">Password:</label>
        <p-password [toggleMask]="true" variant="filled" placeholder="Password" feedback="false" ariaLabel="your password" formControlName="password" minlength="4"/>
      </div>
      <div class="checkbox-container" [class.disabled]="sharedService.loading()">
        <p-checkbox formControlName="checked" value="yes" inputId="checked" variant="filled"/>
        <label for="checked">Remember me</label>
      </div>
      <p-button label="Login" ariaLabel="login" type="submit" [disabled]="loginForm.invalid || sharedService.loading()"></p-button>
      @if (sharedService.loading()) {
        <p-progressSpinner ariaLabel="loading" strokeWidth="3"/>
      }
      @if (errorMessage() !== '') {
        <div class="error" [class.disabled]="sharedService.loading()">
          {{ errorMessage() }}
        </div>
      }
    </form>
  </div>
</div>