@import "primeicons/primeicons.css"; /* PrimeIcons should be first */
@import "primeng/resources/primeng.css"; /* PrimeNG component styles */
@import "primeng/resources/themes/lara-light-purple/theme.css"; /* Theme styles */
@import 'include-media';
$breakpoints: (
  'phone': 460px,
  'tablet': 768px,
  'desktop': 1024px
);

body {
  margin: 0;
  padding: 0;
  background-color: #513475;
}

p-progressSpinner {
  z-index: 5;
}

p-button .p-button {
  transition: none;
  min-width: 110px;
}

p-password .p-password, p-password input {
  margin: auto;
  width: 100%;
  font-family: "Host Grotesk", serif;
}

.p-dropdown {
  width: 100%;
}

input,
textarea,
.p-checkbox .p-checkbox-box,
.p-button,
.p-dropdown,
.p-dialog .p-dialog-header .p-dialog-header-icon {
  box-shadow: none;
}

.top-nav-search {
  p-iconField input {
    width: 100%;
    font-family: "Host Grotesk", serif;
  }
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  font-family: "Host Grotesk", serif;
}

.avatar-upload-container {
  .p-button {
    font-size: 1.3rem;
    width: 200px;
  }
}