<div class="dashboard-container">
  <div class="top-nav">
    <div class="top-nav-logo">
      <img class="logo" src="assets/portal-logo.webp" alt="logo" draggable="false">
    </div>
    <div class="top-nav-search">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input name="search" type="text" pInputText placeholder="Search" />
      </p-iconField>
    </div>
    <div class="top-nav-avatar">
      <img class="avatar" src="assets/headshot_one.jpeg" alt="avatar">
      <div class="name-arrow">
        <span>Roger Sandoval</span>
        <i class="pi pi-chevron-down"></i>
      </div>
    </div>
  </div>
</div>